@import url("reset.css");
@import url("global.css");

.body {
	overflow-x: hidden;
	display: grid;
  	grid-template-columns: repeat(3, 1fr);
  	grid-gap: 0 10px;
  	grid-template-areas: "header 	 header     header"
  						 "start-page start-page start-page"
  						 "calendar   calendar   calendar";
}

/* Style inputs */
.btn-group {
	grid-area: btn-group;
}
#eventForm .title-group {
	grid-area: event-title;
}
#eventForm .desc-group {
	grid-area: event-desc;
}
#eventForm .date-group {
	grid-area: event-date;
}
#eventForm .start-time-group {
	grid-area: event-start-time;
}
#eventForm .end-time-group {
	grid-area: event-end-time;
}
#eventForm {
	display: grid;
	grid-gap: 5px 5px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "event-title 	event-title       event-title"
						 "event-desc 	event-desc 	      event-desc"
						 "event-date 	event-start-time  event-end-time"
						 "btn-group 	btn-group 		  btn-group";
}
#taskForm .title-group {
	grid-area: task-title;
}
#taskForm .desc-group {
	grid-area: task-desc;
}
#taskForm .assign-date-group {
	grid-area: task-assign-date;
}
#taskForm .due-date-group {
	grid-area: task-due-date;
}
#taskForm .assign-time-group {
	grid-area: task-assign-time;
}
#taskForm .due-time-group {
	grid-area: task-due-time;
}
#taskForm .est-time-group {
	grid-area: task-est-time;
}
#taskForm .priority-group {
	grid-area: task-priority;
}
#taskForm {
	display: grid;
	grid-gap: 5px 5px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: "task-title 		task-title"
						 "task-desc 		task-desc"
						 "task-assign-date 	task-assign-time"
						 "task-due-date		task-due-time"
						 "task-est-time		task-priority"	
						 "btn-group 		btn-group";
}

select.time {
	width: 100%;
}
input.title {
	font-size: 2em;
	margin: 4px auto 4px auto;
	color: #000;
	text-align: center;
}
input.date {
	text-align: center;
	cursor: pointer;
}
.error-message {
    color: #ff0000;
    text-align: left;
    font-size: 0.9em;
}
.unit {
	align-self: center;
	text-align: left;
}
.input-with-unit {
	display: grid;
	grid-template-columns: 75% auto;
	grid-column-gap: 5px;
}

/* Style Buttons */
.btn-wide {
	width: 100%;
}

/* Header */
.header {
	height: 100px;
	width: 100%;
	margin-bottom: 1.75em; 
	position: relative;
	grid-area: header;
}
.header > .title {
	position: absolute;
	text-align: center;
	color: #fff;
	line-height: 100px;
	width: 100%;
}
#pageTitle {
	background-color: #00a534; /* Green */
	left: 0;
	transition: all .3s ease-out;
}

#selectDayTitle {
	background-color: #dc0909; /* Red */
	left: -100%;
	transition: all .3s ease-out;
}

/* Calendar */
#calendar {
	padding: 0 25px;
	grid-area: calendar;
}
.fc-event{
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    max-width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
}

/* Zoom Animation */
.animate-zoom {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Fade Animation */
.animate-fade {
    -webkit-animation: animatefade 0.3s;
    animation: animatefade 0.3s
}
@-webkit-keyframes animatefade {
    from {opacity: 0} 
    to {opacity: 1}
}
@keyframes animatefade {
    from {opacity: 0} 
    to {opacity: 1}
}

/* Login Form and Sign up Form */
.login-group form {
	text-align: center;
	margin: 0 auto;
}

.login-group {
	text-align: center;
	grid-column: 1/2;
	width: 90%;
	justify-self: center;
}

.signup-group form {
	text-align: center;
	margin: 0 auto;
}

.signup-group {
	text-align: center;
	grid-column: 3/4;
	width: 90%;
	justify-self: center;
}
#startPage {
	grid-area: start-page;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
}
#startPage .title {
	grid-column: 1/4;
	text-align: center;
}
.or-divider {
	align-self: center;
}