* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}
.body {
	overflow-x: hidden;
}

/* Style text inputs */
input[type=text],textarea, input[type=password]{
	width: 100%;
    padding: 10px 10px;
    margin: 4px 0 4px 0;
    display: block;
    border: 1px solid #ccc;
    font-size: 1em;
}
input[type=number] {
	padding: 10px;
	margin: 4px 0 4px 0;
	display: block;
	border: 1px solid #ccc;
	font-size: 1em;
}
.time-selection {
	padding: 10px;
	margin: 4px 0 4px 0;
	display: block;
	border: 1px solid #ccc;
	font-size: 1em;
}
textarea {
	resize: none;
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
}
label {
	font-size: 1.1em;
	display: block;
	text-align: left;
}
.error-message {
    margin: 0;
    color: #ff0000;
    text-align: left;
    font-size: 0.9em;
}
#eventTitle, #taskTitle {
	font-size: 2em;
	margin: 4px auto 4px auto;
	color: #000;
	text-align: center;
}
.input-date {
	text-align: center;
	cursor: pointer;
}
.unit {
	align-self: center;
	text-align: left;
}

/* Style Buttons */
.btn-default {
	background-color: #f5f5f5;
    color: #000;
    display: inline-block;
    cursor: pointer;
    padding: 0 0.6em;
    height: 2.1em;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-size: 1.1em;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    
}
.btn-default:hover {
	background-position: 0 -15px;
    transition: background-position 0.1s linear;
    background-color: #e6e6e6;
}
.btn-default:active {
    background-color: #cccccc;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* Header */
.header {
	height: 100px;
	width: 100%;
	margin-bottom: 1.75em; 
	position: relative;
}
.title {
	position: absolute;
	text-align: center;
	color: #fff;
	margin: 0;
	font-size: 3em;
	line-height: 100px;
	width: 100%;
}
#pageTitle {
	background-color: #00a534;
	left: 0;
	transition: all .3s ease-out;
}
#selectDayTitle {
	background-color: rgb(220, 9, 9);
	left: -100%;
	transition: all .3s ease-out;
}
.selectDayTitleMove {
	left: 0 !important;
}
.pageTitleMove {
	left: 100% !important;
}

/* Calendar */
#calendar {
	padding: 0 25px;
}
.fc-event{
    cursor: pointer;
}

/* Select Day */
#selectDayHeader {
	position: absolute;
	width: 100%;
	display: none;
	top: 0px;
	text-align: center;
	background-color: rgb(220, 9, 9);
	z-index: 1;
	vertical-align: middle;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    max-width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
}

/* Zoom Animation */
.animate-zoom {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Fade Animation */
.animate-fade {
    -webkit-animation: animatefade 0.3s;
    animation: animatefade 0.3s
}
@-webkit-keyframes animatefade {
    from {opacity: 0} 
    to {opacity: 1}
}
@keyframes animatefade {
    from {opacity: 0} 
    to {opacity: 1}
}

/* Slide Animation */
.animate-fade {
    -webkit-animation: animateslide 0.3s;
    animation: animateslide 0.3s
}
@-webkit-keyframes animateslide {
    from {left: -100%;} 
    to {left: 0}
}
@keyframes animateslide {
    from {left: -100%;} 
    to {left: 0}
}

#loginForm {
	width: 50%;
	text-align: center;
}
