<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <display-name>CallDatabase</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>Auto_Calendar/index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AddEvent</servlet-name>
        <servlet-class>com.calldatabase.jsp.servlet.AddEvent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEvent</servlet-name>
        <url-pattern>/AddEvent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteEvent</servlet-name>
        <servlet-class>com.calldatabase.jsp.servlet.DeleteEvent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteEvent</servlet-name>
        <url-pattern>/DeleteEvent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetEvents</servlet-name>
        <servlet-class>com.calldatabase.jsp.servlet.GetEvents</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetEvents</servlet-name>
        <url-pattern>/GetEvents</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditEvent</servlet-name>
        <servlet-class>com.calldatabase.jsp.servlet.EditEvent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditEvent</servlet-name>
        <url-pattern>/EditEvent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddTask</servlet-name>
        <servlet-class>com.calldatabase.jsp.servlet.AddTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTask</servlet-name>
        <url-pattern>/AddTask</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteTask</servlet-name>
        <servlet-class>com.calldatabase.jsp.servlet.DeleteTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteTask</servlet-name>
        <url-pattern>/DeleteTask</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetTasks</servlet-name>
        <servlet-class>com.calldatabase.jsp.servlet.GetTasks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTasks</servlet-name>
        <url-pattern>/GetTasks</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditTask</servlet-name>
        <servlet-class>com.calldatabase.jsp.servlet.EditTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditTask</servlet-name>
        <url-pattern>/EditTask</url-pattern>
    </servlet-mapping>
</web-app>